<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- 引入样式 -->
<link rel="stylesheet"
	href="https://cdn.bootcss.com/element-ui/2.0.6/theme-chalk/index.css">
</head>
<body>
	<div id="app">
    	<!-- 搜索相关 -->
        <div class="filter-container" style="margin-bottom: 10px;">
            <el-button class="filter-item" style="margin-left: 10px;"type="primary" icon="search" @click="handleAdd">添加</el-button>
        </div>
		
		<!-- 树形表格 -->
		<tree-grid
            :items='data'
            :columns='columns'
            @on-row-click='rowClick'
            @on-selection-change='selectionClick'
            @on-sort-change='sortClick'
    	></tree-grid>
    	
        <div class="filter-container" style="margin-bottom: 10px;">
        </div>
    	
    	<!-- 维护角色 -->
	    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
	      <el-form class="small-space" :model="temp"  label-position="left" label-width="80px">
	        <el-input type="hidden" v-model="temp._scopeIndex"></el-input>
	        <el-form-item label="编号">
	          <el-input placeholder="请输入内容" v-model="temp.code" v-bind:readonly="dialogTitle=='信息查看'">
	          </el-input>
	        </el-form-item>
	        <el-form-item label="名称">
	          <el-input placeholder="请输入内容" v-model="temp.name" v-bind:readonly="dialogTitle=='信息查看'">
	          </el-input>
	        </el-form-item>
	        <el-form-item label="上级角色">
	          <el-cascader v-model="parentRoleArrayTemp" placeholder="请选择" :options="data"
	                       filterable clearable change-on-select style="width: 511.5px"
	                       :props="papbusRolecascaderprops" v-bind:readonly="dialogTitle=='信息查看'"></el-cascader>
	        </el-form-item>
	        <el-form-item label="备注">
	          <el-input placeholder="请输入内容" v-model="temp.remark" v-bind:readonly="dialogTitle=='信息查看'">
	          </el-input>
	        </el-form-item>
	      </el-form>
	      <div slot="footer" class="dialog-footer">
	        <el-button @click="dialogFormVisible = false">取 消</el-button>
	        <el-button type="primary" @click="dialogSaveOrUpdateClick()">保存</el-button>
	      </div>
	    </el-dialog>
	    
	    <!--维护资源 -->
	    <el-dialog :title="dialogUserResourceTitle" :visible.sync="dialogUserResourceFormVisible">
			<el-tree :data="dataResourceDatas" show-checkbox node-key="id" :default-expanded-keys="userResourceKeysArray"
			       :default-checked-keys="userResourceKeysArray" ref="userResourceTree" highlight-current
			:props="userResourceTreeProps"></el-tree>
			<div slot="footer" class="dialog-footer">
				<el-button @click="dialogUserResourceFormVisible = false">取 消</el-button>
				<el-button type="primary" @click="dialogUpdateRoleResourceClick()">确 定</el-button>
			</div>
		</el-dialog>
	</div>
</body>
<!-- 先引入 Vue -->
<script src="https://cdn.bootcss.com/vue/2.5.9/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://cdn.bootcss.com/element-ui/2.0.7/index.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="../js/app/rbac/pap-tree-grid.min.js"></script>
<script>
	Vue.use(window.PapTreeGrid)
	new Vue({
		el: '#app',
		data: {
			baseUrl: 'http://127.0.0.1:28762',
			dialogTitle: '',
			dialogFormVisible: false,
			temp: {},
			parentRoleArrayTemp: [],
	        papbusRolecascaderprops: {
	          value: 'id',
	          label: 'name'
	        },
	        dataResourceDatas: [],
	        userResourceKeysArray: [],
	        selectedRoleId: '',
	        dialogUserResourceTitle: '角色资源维护',
	        dialogUserResourceFormVisible: false,
            userResourceTreeProps: {
				children: 'children',
				label: 'name'
		    },
		    // 当前树形表格，选中的值
		    treeGridSelectedArray: [],
			columns: [{
                type: 'selection',
                width: '50',
            }, {
                title: '编码',
                key: 'code',
                width: '150',
                marginLeft: true
            }, {
                title: '名称',
                key: 'name',
                width: '150',
            }, {
                title: '备注',
                key: 'remark',
                width: '150',
            }, {
                title: '操作',
                type: 'action',
                actions: [{
                    type: 'primary',
                    text: '编辑'
                }, {
                    type: 'error',
                    text: '删除'
                }, {
                    type: 'role',
                    text: '资源维护'
                }],
                width: '150',
            }],
            // 初始化选中，对象增加 _checked: true 属性
            data: []
		},
        created () {
            this.getList()
            this.getResourceList()
        },
		methods: {
			handleRoleResourceAdd(roleObj) {
				var _this = this;
					
				axios.post(_this.baseUrl + '/v1/rbac/roleresourcerel/selectresourceidsbyroleid', "roleObj="+ JSON.stringify({roleId: roleObj.id}),{
			        headers: {
			        	'Content-Type': 'application/x-www-form-urlencoded'
			        }
			    }
    			)
				.then(function(res){
					console.log(res);
					if(res.data.code == '200') {
					  	console.log(res.data)
					  	_this.dialogUserResourceFormVisible = true;
					  	Vue.set(_this, 'userResourceKeysArray', []);
					  	Vue.set(_this, 'userResourceKeysArray', res.data.list);
					  	_this.selectedRoleId = roleObj.id;
					  	_this.$refs.userResourceTree.setCheckedKeys([]);
						_this.$refs.userResourceTree.setCheckedKeys(res.data.list);
					} else {
					  	_this.$message(res.data.data);
					}
				})
				.catch(function(err){
					console.log(err);
				});
					
			},
			// 行 操作按钮的处理
            rowClick(data, event, index, text) {
                console.log('当前行数据:' + data)
                console.log('点击事件:' + event)
                console.log('点击行号:' + index)
                console.log('点击文本:' + text)
                if(text == '编辑') {
                	this.handleUpdate(data);
                }
                if(text == '删除') {
                	this.handleDelete(data.id);
                }
                if(text == '资源维护') {
                	this.handleRoleResourceAdd(data);
                }
            },
            selectionClick(arr) {
                console.log('选中数据id数组:' + arr)
                this.treeGridSelectedArray = arr;
            },
            sortClick(key, type) {
                console.log('排序字段:' + key)
                console.log('排序规则:' + type)
            },
            handleAdd() {
            	this.parentRoleArrayTemp = [];
            	this.temp = {};
            	this.dialogFormVisible = true;
            },
            handleUpdate(data) {
            	this.temp = data;
            	if (data.pathIds !== undefined && data.pathIds !== null && data.pathIds !== '') {
					this.parentRoleArrayTemp = data.pathIds.split(',')
				} else {
					this.parentRoleArrayTemp = []
				}
				this.dialogFormVisible = true;
            },
            handleDelete(deleteId) {
            	var _this = this;
    			axios.post(_this.baseUrl + '/v1/rbac/role/delete',"deleteJSON="+ JSON.stringify({id: deleteId}),{
			        headers: {
			        	'Content-Type': 'application/x-www-form-urlencoded'
			        }
			    }
    			)
				.then(function(res){
				  console.log(res);
				  if(res.data.code == '200') {
				  	_this.getList();
				  } else {
				  	_this.$message(res.data.data);
				  }
				})
				.catch(function(err){
				  console.log(err);
				});
            },
            getList() {
            	var _this = this;
            	axios.get(_this.baseUrl + '/v1/rbac/role/treejson')
				.then(function(res){
				  console.log(res);
				  _this.data = res.data;
				})
				.catch(function(err){
				  console.log(err);
				});
            },
            getResourceList() {
            	var _this = this;
            	axios.get(_this.baseUrl + '/v1/rbac/resource/treejson')
				.then(function(res){
				  console.log(res);
				  _this.dataResourceDatas = res.data;
				})
				.catch(function(err){
				  console.log(err);
				});
            },
            dialogSaveOrUpdateClick() {
            	var _this = this;
            	console.log(this.parentRoleArrayTemp);
            	console.log(this.temp);
        		if (this.parentRoleArrayTemp) {
		          if (this.parentRoleArrayTemp.length > 0) {
		           this.temp.parentId = this.parentRoleArrayTemp[this.parentRoleArrayTemp.length - 1]
		          } else if (this.parentRoleArrayTemp.length === 0) {
		            this.temp.parentId = '-1'
		          }
		        }
        		
        		if(this.temp.id == undefined || this.temp.id == '') {
        			axios.post(_this.baseUrl + '/v1/rbac/role/add',"addJSON="+ JSON.stringify(_this.temp),{
				        headers: {
				        	'Content-Type': 'application/x-www-form-urlencoded'
				        }
				    }
        			)
					.then(function(res){
					  console.log(res);
					  if(res.data.code == '200') {
					  	_this.dialogFormVisible = false;
					  	_this.getList();
					  } else {
					  	_this.$message(res.data.data);
					  }
					})
					.catch(function(err){
					  console.log(err);
					});
        		} else {
        			axios.post(_this.baseUrl + '/v1/rbac/role/update',"updateJSON="+ JSON.stringify(_this.temp),{
				        headers: {
				        	'Content-Type': 'application/x-www-form-urlencoded'
				        }
				    }
        			)
					.then(function(res){
					  console.log(res);
					  if(res.data.code == '200') {
					  	_this.dialogFormVisible = false;
					  	_this.getList();
					  } else {
					  	_this.$message(res.data.data);
					  }
					})
					.catch(function(err){
					  console.log(err);
					});
        		}
			},
			dialogUpdateRoleResourceClick() {
   				var _this = this
		        var checkedResourceKeys = this.$refs.userResourceTree.getCheckedKeys()
		        console.log(checkedResourceKeys)
				axios.post(_this.baseUrl + '/v1/rbac/roleresourcerel/saverels', "saveRelsObj="+ JSON.stringify({roleId: _this.selectedRoleId, resourceIds: checkedResourceKeys}),{
			        headers: {
			        	'Content-Type': 'application/x-www-form-urlencoded'
			        }
			    }
    			)
				.then(function(res){
					console.log(res);
					if(res.data.code == '200') {
					  	console.log(res.data)
					  	_this.$message(res.data.data);
					  	_this.dialogUserResourceFormVisible = false;
					} else {
					  	_this.$message(res.data.data);
					}
				})
				.catch(function(err){
					console.log(err);
				});
			}
        }
	})
</script>